<div class="wh-full contenedor animate__animated animate__bounceIn">
    <div class="caja">
      <div class="form-container ">
          <h1>WELCOME!</h1>
          <form [formGroup]="signUpForm" >
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastname" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
          <button mat-raised-button color="terciario" (click)="signUp()">Sign Up</button>
          </form>
          <span style="margin-top: 25px;">Already have account? &nbsp;<a [routerLink]="['/login']">LogIn</a></span>
  
      </div>
      <app-about></app-about>
    </div>
  </div>