<div class="about-us ">
    <h1>ABOUT US</h1>
    <p>
        UrBudget is a web platform designed to simplify the management of your personal finances. With this tool, you can easily create an annual budget and track your expenses and income month by month through graphs and statistics.
Our platform offers an intuitive interface that guides you through the process of establishing a realistic and personalized budget.</p><br>
     <p>You can set financial goals and adjust your expenses to achieve a proper balance.
UrBudget provides you with a clear and detailed view of your financial progress. Through updated graphs and statistics, you can evaluate how well you're sticking to your budget and make informed decisions to reach your goals.
</p><br>
<p>The security of your data is our priority. UrBudget employs advanced security measures to protect your financial and personal information.
Whether you're an individual or a family, UrBudget adapts to your needs and helps you take control of your personal finances. Join our platform and start your journey towards financial stability today. Sign up for UrBudget and take a step forward in achieving your financial goals!
    </p>
</div>