.btn{
    background-color: var(--secondary-color);
    float: right
}

.btn-primary{
    background-color: var(--secondary-color);
}

.btn-secondary{
    background-color: var(--primary-color);
}

.modal{
    margin-top: 10%;
}