<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<button class="btn" (click)="openModal()">Record Budget</button>

<div class="modal" [class.d-block]="modalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Register Budget</h2>
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="budgetForm" (submit)="saveBudget()">
          <div class="form-group">
            <label for="year">Year</label>
            <input type="number" id="year" class="form-control" placeholder="Year" formControlName="year" required>
          </div>
          <div class="form-group">
            <label for="ammount">Amount</label>
            <input type="number" id="ammount" class="form-control" placeholder="Amount" formControlName="ammount" required>
          </div>
          <div class="form-group">
            <label for="monthIncomes">Expected Income</label>
            <input type="number" id="monthIncomes" class="form-control" placeholder="Expected Income" formControlName="monthIncomes" required>
          </div>
          <div class="form-group">
            <label for="monthOutcomes">Expected Outcome</label>
            <input type="number" id="monthOutcomes" class="form-control" placeholder="Expected Outcome" formControlName="monthOutcomes" required>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
