<div class="wh-full contenedor animate__animated animate__bounceIn">
  <div class="caja">
    <div class="form-container ">
        <h1>WELCOME BACK!</h1>
        <form [formGroup]="logInForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color ="terciario" (click)="logIn()">LogIn</button>
        </form>
        <span style="margin-top: 25px;">Are you new? &nbsp;<a [routerLink]="['/signUp']">SignUp</a></span>
    </div>
   <app-about></app-about>
  </div>
</div>
