/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);

  --background-color: rgb(54, 49, 49);
  --primary-color: rgb(5, 112, 112);
}

[_nghost-ng-c2388939186]{
  color: white !important;
}
