/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  color: rgb(255, 255, 255);
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);

  --background-color: rgb(231, 231, 231);
  --primary-color: rgb(8, 126, 139);
  --secondary-color: rgb(249, 199, 132);
  --terciary-color: rgb(252, 122, 30);
  
  
}
.wh-full{
  width: 100%;
  height: calc(100% - 3em);
  
}

a{
  color:var(--terciary-color);
}


